@import 'variables';

.btn {
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 100%;
  background-color: $red;
  margin: 0;

  &:hover {
    opacity: 0.7;
  }

  &__parse {
    position: relative;
    background: $red;
    border: none;
    border-radius: 16px;
    width: 136px;
    height: 32px;
    font-size: 12px;
    font-weight: 700;
    color: $white;
    margin: 0;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
    &:before {
      content: "";
      position: absolute;
      top: 8px;
      right: 15px;
      height: 8px;
      width: 2px;
      background: $white;
      transform: rotate(-45deg);
    }

    &:after {
      content: "";
      position: absolute;
      top: 12.3px;
      right: 15px;
      height: 8px;
      width: 2px;
      background: $white;
      transform: rotate(45deg);
    }

  }

  &__application {
    img {
      position: absolute;
      left: 10px;
      top: 10px;
    }
  }

  &__hamburger:before {
    content: '';
    position: absolute;
    top: 12px;
    right: 11px;
    width: 18px;
    height: 2px;
    background-color: $white;
    border-radius: 1px;
    box-shadow: 0 14px 0 0 $white;

  }

  &__hamburger:after {
    content: '';
    position: absolute;
    top: 19px;
    right: 11px;
    width: 10px;
    height: 2px;
    background-color: $white;
    border-radius: 1px;


  }

  @media (min-width: 768px) {
    &__chat {
      margin: 0 16px;
    }
  }

  &__chat {
    img {
      position: relative;
      top: 2px;
    }
  }

  &__status {

  }
}

.more {
  width: 200px;
  position: relative;
  border: none;
  background-color: $light-gray;
  text-align: left;
  margin: 12px 0 12px 0;
  cursor: pointer;

  &:before {
    content: 'Читать дальше';
    position: absolute;
    top: -2px;
    left: 50px;
    font-size: 16px;
    font-weight: 500;
  }

}

.show {
  width: 300px;
  position: relative;
  border: none;
  background-color: $light-gray;
  text-align: left;
  cursor: pointer;
  margin-bottom: 50px;
  padding-left: 15px;
  &:before {
    content: 'Показать всё';
    position: absolute;
    top: -2px;
    left: 40px;
    font-size: 16px;
    font-weight: 500;
  }
  @media (max-width: 330px) {
    display: none;
  }
}

.rotate-arrow {
  transform: rotateX(180deg);

  &:before {
    content: 'Скрыть';
    transform: rotateX(-180deg);
    position: absolute;
    top: -2px;
    left: 50px;
    font-size: 16px;
    font-weight: 500;
  }
}

.right {
  position: absolute;
  right: 72px;
  @media (min-width: 768px) {

  }
}

.rotate {
  transform: rotate(180deg);
}

.menu button:nth-child(1) {
  margin: 0;
}
