@import 'variables';

.policy {
  background-color: $light-gray;

  &__developed {
    width: 218px;
    margin-left: 31px;
    @media (max-width: 767px) {
      text-align: center;
      margin: auto auto 16px auto;
    }
  }

  &__privacy {
    width: 214px;

    @media (max-width: 767px) {
      margin: auto auto 16px auto;
    }
  }

  &__offer {
    width: 100%;
    text-align: right;
    @media (min-width: 768px) and (max-width: 1119px) {
      width: 213px;
    }
    @media (min-width: 1119px) {
      width: 330px;
    }
    @media (max-width: 767px) {
      text-align: center;
      margin: 0 auto;
    }
    @media (min-width: 1440px) {
      padding-right: 32px;
    }
  }
}

.policy__wrapper {
  display: flex;
  justify-content: space-between;
  background-color: $light-gray;
  font-size: 14px;
  color: $gray;
  opacity: 0.72;
  min-height: 85px;
  padding-top: 32px;
  border-top: 1px solid $light-green;
  @media (max-width: 767px) {
    flex-direction: column;
    margin: 0 auto;
  }
}