@import 'variables';

.header {
  position: relative;
  width: 100%;
  min-height: 88px;
  @media (min-width: 768px) and (max-width: 1119px) {
    width: 100%;
  }
  @media (min-width: 1120px) {
    display: none;
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 16px 0 16px;

}

.header__logo {
  position: absolute;
  top: 15px;
  left: 75px;
  @media (min-width: 768px) and (max-width: 1119px) {
    position: absolute;
    top: 15px;
    left: 100px;
  }
}

.header__panel {
  img {
    margin-top: 3px;
  }

  @media (min-width: 768px) and (max-width: 1119px) {
    display: block;
    position: absolute;
    right: 140px;
    margin-right: 42px;
  }
}

.header__inner button:nth-child(4) {
  &:after {
    content: '';
    position: absolute;
    top: 5px;
    left: -20px;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    @media (min-width: 768px) {
      left: -35px;
    }
  }

}

.header__inner {
  @media (min-width: 768px) {
    &:before {
      content: '';
      position: absolute;
      top: 24px;
      left: 78px;
      width: 2px;
      height: 32px;
      background-color: #EAEAEA;
    }
  }
}


