@import 'variables';

.repair {
  min-height: 280px;
  background: $light-gray;

  &__wrapper {
    position: relative;
  }
}

.repair__inner {
  display: flex !important;
  flex-wrap: wrap;
  margin-left: 8px;
  @media (max-width: 330px) {
    flex-wrap: nowrap;
    min-height: 200px;
    padding: 0;
  }
  @media (min-width: 1440px) {
    padding: 12px 15px;
  }

}

.repair__item {
  min-height: 160px;
  width: 240px !important;
  margin-bottom: 16px;
  background: $white;
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
  border-radius: 6px;
  padding-top: 16px;
  @media (min-width: 331px) {
    text-align: center;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
  }

  @media (max-width: 330px) {
    width: 240px !important;
    display: flex;

  }
  @media (min-width: 1440px) {
    margin-right: 20px;
  }

  a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-weight: 500;
    margin-left: 16px;
  }

  span {
    position: absolute;
    cursor: pointer;
    top: 104px;
    right: 16px;
    width: 40px;
    height: 40px;
    border: 2px solid $red;
    box-sizing: border-box;
    border-radius: 20px;

    &:before {
      content: "";
      position: absolute;
      top: 11.7px;
      right: 18px;
      height: 8px;
      width: 2px;
      background: $red;
      transform: rotate(-45deg);
    }

    &:after {
      content: "";
      position: absolute;
      top: 16px;
      right: 18px;
      height: 8px;
      width: 2px;
      background: $red;
      transform: rotate(45deg);
    }
  }
}

.repair__pagination {
  display: none;
  @media (max-width: 330px) {
    display: block;
  }
}

.hiddenRepair {
  display: none;
}

.repair__arrow {
  @media(max-width: 330px) {
    display: none;
  }
}
.show-repair {
  margin-left: 10px;
}
.repair-blur {
  height: 166px;
  top: 20px;
}

.swiper-pagination-bullet-active {
  background: $gray-blue !important;
}

.swiper-pagination-bullet {
  background: $gray-red !important;
}
