@import "variables";

.services {
  width: 100%;
  min-height: 470px;
  background: $light-gray;
  @media (max-width: 1119px) {
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background: $light-green;
    }
  }

  &__description {
    width: 100%;
    margin-right: 16px;
    margin-bottom: 10px;
  }

  &__title {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: -25px;
      width: 4px;
      height: 40px;
      background: $blue;
      border-radius: 3px;
      @media (min-width: 1440px) {
        left: 0;
      }
    }

    font-weight: 700;
    padding-top: 24px;

    font-size: 28px;
    line-height: 40px;
    @media (min-width: 1120px) {
      margin: 0;
    }

    @media (max-width: 1119px) {
      margin-left: 24px;
    }
    @media (min-width: 1440px) {
      padding-left: 20px;
    }
  }

  &__info {
    max-width: 100%;
    min-height: 260px;
    margin-top: 24px;
    margin-left: 8px;
    font-size: 14px;
    @media (min-width: 768px) and (max-width: 1119px) {
      display: flex;
      justify-content: space-between;

    }
    @media (min-width: 1120px) {
      display: flex;
      justify-content: space-between;
      margin-right: 32px;
    }
  }

  &__read-more {
    margin-top: 16px;
    margin-left: 10px;
    margin-right: 16px;
    @media (min-width: 768px) and (max-width: 1119px) {
      width: 100%;
      min-height: 160px;
      line-height: 20px;
      margin-right: 48px;
    }
    @media (min-width: 1120px) {
      max-width: 100%;

    }

    img {
      margin-right: 16px;
      @media (min-width: 1120px) {
        margin-left: 16px;
      }
    }
  }

  &__min-width768 {
    display: none;
    @media (min-width: 768px) and (max-width: 1119px) {
      margin-top: 20px;
      display: block;
    }
    @media (min-width: 1120px) {
      display: block;
      margin-top: 20px;
    }
  }

  &__min-width1120 {
    display: none;
    @media (min-width: 1120px) {
      display: block;
    }
  }

  &__imgMain {
    width: 100%;
    border-radius: 5px;
  }

  &__item {
    width: 240px;
    padding-top: 8px;
    list-style: none;
    border: 2px solid transparent;

    &:hover {
      background: $white;
      border: 2px solid $green;
      border-radius: 6px;

    }

    @media (min-width: 1120px) {
      min-height: 40px;
      margin: 0;
    }

    a {
      font-weight: 500;
      padding-left: 16px;
      white-space: nowrap;
      font-size: 16px;
      color: $gray;
      text-decoration: none;
    }
  }
}

@media (min-width: 1120px) {
  .services__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .services__right {
    display: flex;
    margin: 0;
    align-items: center;

    label {
      margin-right: 8px;
      font-weight: 500;
      font-size: 16px;
    }
  }
  .services__right button:nth-child(2) {
    margin-right: 32px;
  }
}

.services__menu {
  display: flex;
  justify-content: space-between;
  min-height: 60px;
  width: 100%;
  margin-top: 24px;

  li {
    flex-basis: 0;
    a {
      padding-right: 16px;
    }
  }

  @media (max-width: 1119px) {
    overflow-x: scroll;
    &::-webkit-scrollbar {
      opacity: 0;
    }
    ul {
      padding-left: 24px;
    }
    &:after {
      content: '';
      position: absolute;
      right: 0;
      height: 40px;
      width: 19px;
      background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    }
  }


  @media (min-width: 1120px) {
    width: 100%;
    flex-wrap: wrap;
    box-shadow: none;
    padding: 0;
  }

}


.rotate-arrow {
  transform: rotateX(180deg);
}

.activeText {
  display: inline;
}

.closeText {
  display: none;
}

@keyframes rotate {
  from {
    transform: rotate(180deg);
  }
}