@import "../blocks/_variables.scss";

.overlay-call {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255,255,255, 0.96);
  z-index: 1000;

}
.modalCall {
  position: absolute;
  top: 0;
  right: 0;
  background-color: $white;
  width: 440px;
  height: 100vh;
  padding: 40px 32px;
  z-index: 1000;
  border-left: 1px solid $light-green;
  border-radius: 1px;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
  @media (max-width: 575px) {
    padding: 40px 16px;
    width: 100%;
  }
  @media (min-width: 576px) {
    padding: 24px 16px;
    width: 440px;
  }
}

.modal__call--input {
  margin-top: 24px;

  input {
    width: 100%;
    height: 48px;
    background: $white;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    padding: 12px 16px;

    &::placeholder {
      color: $gray-blue;
      font-size: 16px;
      font-weight: 500;

    }
  }
}
.modal__feedback--close {
  @media (max-width: 575px) {
    position: absolute;
    top: 24px;
    left: 16px;
  }
  &--onclose-overlay {
    position: absolute;
    top: 20px;
    right: 455px;
  }
}
.data-processing {
  &:hover {
    color: aqua;
    opacity: 0.7;
  }
}
.politics {
  &:hover {
    color: aqua;
    opacity: 0.7;
  }
}
